body {
    font-family: 'Anton', sans-serif;
    margin: 0;
}

h1 {
    font-size: 60px;
    font-weight: 300;
}

.Mahadi {
    color: rgb(146, 146, 69);
    font-weight: 300;
    text-decoration: none;
}

p {
    font-family: 'Gulzar', serif;
}

section {
    display: flex;
    margin-bottom: 200px;
}

.half-w {
    width: 50%;
    padding-left: 10%;
    padding-right: 2%;
}

.half-image {
    width: 50%;
}

img {
    width: 80%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, gold);
    padding: 10px 40px;
    border-radius: 4px;
    font-weight: 300;
}

.about {
    color: rgb(4, 133, 90);
    font-weight: 250;
}

p {
    text-align: justify;
}

.flxible-container {
    background-image: url(image/banar.jpg);
    size: 100%;
}

.image-1 {
    width: 100%;
}

.half-i {
    width: 50%;
}

.half-2 {
    width: 50%;
    margin-right: 60px;
}

.button-1 {
    text-decoration: none;
    background-image: linear-gradient(orange, gold);
    padding: 10px 40px;
    border-radius: 4px;
    font-weight: 300;
}

.sec-1 {
    background-image: url(image/Picsart_22-07-04_17-47-44-032.png);
    background-repeat: no-repeat;
    background-size: 150px;
    background-position: right;
}

.div-1 {
    width: 50%;
    margin-right: 20px;
    margin-left: 20px;
    box-shadow: gray 10px 10px 10px 10px;
    border-radius: 10px;
    padding: 50px;

}

.div-2 {
    width: 50%;
    margin-left: 50px;
    margin-right: 20px;
    box-shadow: gray 10px 10px 10px 10px;
    border-radius: 10px;
    padding: 50px;

}

.ex {
    margin-left: 30px;
}

.hero {
    color: orange;
    font-weight: 200;
}

.Hero {
    color: rgb(15, 93, 93);
    font-size: 250%;
    font-weight: 200;
}

.sec {
    margin: 100px;


    background-image: url(image/Picsart_22-07-04_17-47-44-032.png);
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: right;


}

.ex {
    color: goldenrod;
    margin-left: 58px;
}

#full {
    border-left: 5px greenyellow;
}